@{
	ViewData["Title"] = "Perfil";
}
<h1>@ViewData["Title"]</h1>

<p>Sobre o aluno.</p>
<img src="~/novapasta1/minha foto.jpg" height="180px" />

<h2></h2>
<p>
	Sou a Larissa Noguero, estudante do curso técnico em Desenvolvimento de Sistemas no SENAI. Gosto de aprender coisas novas, explorar ideias criativas e encontrar soluções para problemas. Sou dedicada, comunicativa e adoro trabalhar em equipe, sempre buscando unir técnica e imaginação nos meus projetos.
</p>
<div>
	<i class="bi bi-github"></i>
	<a href=https://github.com/larissa016"">Github</a>
</div>
<div>
	<i class="bi bi-whatsapp"></i>
	<a href="https://web.whatsapp.com/">Whatsapp</a>
</div>

<div>
	<i class="bi bi-instagram"></i>
	<a href="https://www.instagram.com/">Instagram</a>
</div>

<div>
	<div id="carouselExample" class="carousel slide">
		<div class="carousel-inner">
			<div class="carousel-item active">

				<img src="~/novapasta1/minha foto.jpg" class="d-block w-50" alt="...">
			</div>
			<div class="carousel-item">

				<img src="~/novapasta1/imagem 2 minha.jpg" class="d-block w-50" alt="...">
			</div>
			<div class="carousel-item">

				<img src="~/novapasta1/foto 3 sofi.jpg" class="d-block w-50" alt="20px">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>


</div>